<article class="card m-4">
    <div class="card-header has-background-primary">
        <p class="card-header-title has-text-light is-size-5">
            {{title}}
        </p>
    </div>
    <div class="card-content">
        <p class="has-text-left is-italic">{{created_at}}</p>
        <br>
        <p class="has-text-justified is-size-5">{{post_content}}</p>
        <br>
        <p class="has-text-right">Created by <strong>{{user.username}}</strong></p>
    </div>
    <div class="card-footer">
        <a href="/post/{{id}}" class="card-footer-item">{{comments.length}} {{format_plural "comment" comments.length}}</a>
    </div>
</article>